# **Data Types and Structures Questions**

1. What are data structures, and why are they important?
- Data structures are ways to store and arrange data in a program.
They help to use and manage data easily and quickly.
They are important because they make the program fast, simple, and better to handle big data.

2.  Explain the difference between mutable and immutable data types with examples.
- Mutable data types can be changed after they are made. Example: list.
Immutable data types cannot be changed after they are made. Example: string, tuple.
        Mutable
       a = [1, 2, 3]
       a[0] = 10  # This will work

        Immutable
       b = "hello"
       b[0] = "H"  # This will give error

3. What are the main differences between lists and tuples in Python?
- Lists can be changed, but tuples cannot be changed. Lists use square brackets [] and tuples use round brackets (). Lists are mutable, tuples are immutable. Lists are mostly used when you need to update data. Tuples are used when data should stay fixed.

4. Describe how dictionaries store data.
- Dictionaries store data in key-value pairs. Each key has a value linked to it. You can get the value by using the key.
 Ex. my_dict = {"name": "John", "age": 25}.
 Here, "name" is the key, "John" is the value. Dictionaries store data in curly brackets {}. They are used to store related data together.

5. Why might you use a set instead of a list in Python?
- We use a set instead of a list when we need unique items. Sets do not allow duplicate values. Sets are also faster when we search for items.

          Ex. my_set = {1, 2, 3}
              my_list = [1, 2, 2, 3]
In list, duplicates can stay. In set, duplicates are not allowed. So, use set when you need only unique values.

6. What is a string in Python, and how is it different from a list?
- A string in Python is a group of characters like words or sentences.
Example: "hello" is a string.

 A list is a collection of items like numbers, strings, or both.
 Example: [1, 2, 3] is a list.

 Main difference:

* String is immutable (cannot change it).
* List is mutable (can change it).

 Also, in string, each character is connected like one word.
 In list, each item is separate.

7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity because they cannot be changed after they are  created.
 Once you make a tuple, you cannot add, remove, or change its items.
 This keeps the data safe and fixed.
      my_tuple = (1, 2, 3)
      my_tuple[0] = 10  # This will give error

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a way to store data using a key. It finds data fast by using a hash value.
 In Python, dictionaries are made using hash tables.
Each key in a dictionary is stored in a special way so Python can find the value quickly.

    Example: my_dict = {"name": "John", "age": 25}

 The key like "name" is hashed in the background to find the value fast.
So, dictionary = Python's hash table.

9. Can lists contain different data types in Python?
- Yes, lists can contain different data types in Python. Lists can hold   numbers, strings, booleans, and more in the same list.

10.  Explain why strings are immutable in Python?
- Strings are immutable in Python because once a string is made, it cannot be changed. If we try to change it, Python makes a new string instead of changing the old one. This keeps strings safe and fixed.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries are better than lists when we need to find data fast using a key. In dictionaries, we can search by key quickly. In lists, we have to search by position, which is slower. Dictionaries also help to store related data together using key-value pairs.

12. Describe a scenario where using a tuple would be preferable over a list.
- A tuple is better when the data should not change.
      Example: Storing days of the week or fixed settings.
      days = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")

  When you want the data to stay safe and same always, tuple is the best choice.

13. How do sets handle duplicate values in Python?
- Sets in Python do not allow duplicate values.
 If you add the same value again, the set will keep only one copy.
 Sets always store unique items.

14. How does the “in” keyword work differently for lists and dictionaries?
- In a list, the “in” keyword checks if a value is present in the list.

  In a dictionary, the “in” keyword checks if a key is present, not the value.

  So,In list:  checks value.
  In dictionary: checks key.

15. Can you modify the elements of a tuple? Explain why or why not.
- No, we cannot modify the elements of a tuple.
 Tuples are immutable in Python. Once a tuple is made, its elements cannot be changed, added, or removed. This keeps the data safe and fixed.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary means a dictionary inside another dictionary.
 It is used to store data in groups, like details of many people.
    
    students = {
    "student1": {"name": "John", "age": 20},

    "student2": {"name": "Alice", "age": 22}
}

 We use nested dictionaries when we need to keep connected data together.

17. Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary is very fast.
 The time complexity is O(1).
 This means Python can find the value directly using the key without searching through everything.

18. In what situations are lists preferred over dictionaries?
- Lists are preferred when we need to store items in order and we don’t need keys.

 Lists are good when we work with simple data like numbers or names in a sequence.

 Lists are also used when we need to go through items one by one.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because they don’t keep items in the order we add them. But Python still finds the data fast using keys, so order does not matter. We can get the correct value if we know the key, no need to worry about the order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- In a list, we get data by using the position (index) like list[0].

 In a dictionary, we get data by using the key like dict["name"].

 Lists search by number position. Dictionaries search by key, which is faster.

**Practical Questions**

In [2]:
# 1. Write a code to create a string with your name and print it.

name = "Sachin"
print(name)

Sachin

In [3]:
# 2. Write a code to find the length of the string "Hello World".

text = "Hello World"
print(len(text))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
print(text[0:3])

Pyt

In [5]:
# 4. Write a code to convert the string "hello" to uppercase.

text = "hello"
print(text.upper())

HELLO

In [7]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [11]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [12]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

alphabet = ['a', 'b', 'c', 'd']
print(alphabet[1])

b

In [23]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [25]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [26]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [31]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

new_tuple = (10, 20, 5, 15)
print(min(new_tuple))

5

In [32]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [36]:
# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [37]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [38]:
# 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [39]:
# 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [40]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [42]:
# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set3 = {1, 2, 3}
set4 = {2, 3, 4}
print(set3.intersection(set4))

{2, 3}

In [44]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name": "Sachin", "age": 26, "city": "Ranchi"}
print(my_dict)

{'name': 'Sachin', 'age': 26, 'city': 'Ranchi'}

In [46]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict1 = {'name': 'John', 'age': 25}
my_dict1["country"] = "USA"
print(my_dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [47]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict2 = {'name': 'Alice', 'age': 30}
print(my_dict2["name"])

Alice

In [48]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop('age')
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [51]:
# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}

if 'city' in my_dict:
    print("Yes")
else:
    print("No")

Yes

In [52]:
# 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

In [56]:
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random

numb = random.sample(range(1, 101), 5)
numb.sort()
print(numb)

[27, 30, 35, 61, 64]

In [58]:
# 28. . Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "orange", "grape", "kiwi"]
print(my_list[3])

grape

In [60]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

dict1.update(dict2)

print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [62]:
# 30. Write a code to convert a list of strings into a set.

my_list = ["Cricket", "football", "Chess", "Tennis", "Chess", "Cricket"]
my_set = set(my_list)
print(my_set)

{'Tennis', 'Chess', 'Cricket', 'football'}